<nav>
    <h1 class="logo">Career Connect</h1>
    <ul>
        <li><a href="home.ejs">Home</a></li>

        <li><a href="search.ejs">Search</a></li>
     
        <li><a href="login.ejs">Login</a></li>
     
    </ul>
</nav>