<nav>
    <h1 class="logo">Career Connect</h1>
    <ul>
        <li><a href="home">Home</a></li>

        <li><a href="search">Search</a></li>
     
        <li><a href="login">Login</a></li>
     
    </ul>
</nav>